
<div class="welcome">
  <h3><b>Slack_App</b>
  </h3>
  <p>
  <%= link_to "Log in", login_path, class: "btn btn-lg btn-primary" %>
  </p>
  <br><br>
  <div>
    
    <h1>Welcome to Slack App</h1>

    <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary button1" %>
  </div>
</div>

